<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282882434530-eg4v634naubh2p5jq83ljias5jta3u4b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282882434530-eg4v634naubh2p5jq83ljias5jta3u4b</string>
	<key>API_KEY</key>
	<string>AIzaSyALvM4krhiSiLcENn9IjfF6ix0kEQo7h8M</string>
	<key>GCM_SENDER_ID</key>
	<string>282882434530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alibagherinia.BluMessenger</string>
	<key>PROJECT_ID</key>
	<string>pingme-92475</string>
	<key>STORAGE_BUCKET</key>
	<string>pingme-92475.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282882434530:ios:be0c4e4012a098e83585bb</string>
</dict>
</plist>